<h1>Signup</h1>
<form [formGroup]="form" #signupForm="ngForm" (ngSubmit)="submit(signupForm)">
  <div>Name</div>
  <input type="text" formControlName="name"
    [ngClass]="signupForm.submitted && name?.invalid ? 'field-error' : ''">
  
  <div class="error" *ngIf="(name?.touched || name?.dirty || signupForm.submitted) && name?.invalid">
    <div *ngIf="name?.errors?.required">Name field is required</div>
    <div *ngIf="name?.errors?.pattern">Only English alphabets and space allowed.</div>
    <div *ngIf="name?.errors?.minlength">
      Name field should be minimum {{name?.errors?.minlength.requiredLength}} characters.
      Only {{name?.errors?.minlength.actualLength}} characters typed.
    </div>
  </div>

  <div><label>Status:</label></div>
  <div>
    <select formControlName="status" [compareWith]="compareStatus"
    [ngClass]="signupForm.submitted && status?.invalid ? 'field-error' : ''">
      <option value=""> - Select Status - </option>
      <option *ngFor="let status of statuses" [ngValue]="status">{{status.name}}</option>
    </select>
  </div>
  <div class="error" *ngIf="(status?.touched || status?.dirty || signupForm.submitted) && status?.invalid">
    <div *ngIf="status?.errors?.required">Select a Status.</div>
  </div>
  
  <div><label>Gender</label></div>
  <div>
      <input type="radio" name="gender" value="M" formControlName="gender"> Male
      <input type="radio" name="gender" value="F" formControlName="gender"> Female
      <div *ngIf="(gender?.touched || signupForm.submitted) && gender?.invalid" class="error">Gender is required.</div>
  </div>

  <div>
    <input type="checkbox" formControlName="promotions" name="promotions">
    Send promotional messages
  </div>

  <div><input type="submit" value="Save"></div>
</form>
<pre>{{ form.value | json }}</pre>
<div>Name Valid: {{ name?.valid }}</div>
